<div class="row">
    <div class="col-12 d-flex justify-content-end">
        <div class="d-flex flex-column gap-2">
            <label for="userSelect">Filter tasks by assigned user</label>
            <select name="" id="userSelect" class="form-select" [(ngModel)]="selectedUserId"
                (change)="filterTasksByUser($event)">
                <option value="-1">All users</option>
                <option *ngFor="let user of users_list" [value]="user.id">{{ user.name }}</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>{{ getUserById(selectedUserId) }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div *ngFor="let status of task_statuses">
            <div class="row">
                <div class="col-12">
                    <h2>{{ status }}</h2>
                </div>
                <div *ngFor="let task of getTasksByStatus(status)" class="col-xs-12 col-md-6 col-lg-3 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ task.title }}</h5>
                            <p class="card-text">{{ task.description }}</p>
                            <!-- <a href="#" (click)="openEditTask(task.id)" data-bs-toggle="modal" data-bs-target="#openTaskModal"><i
                    class="bi bi-pencil-square"></i></a> -->
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-center">
                                <span><strong>Assignee</strong></span><span>{{ getUserById(task.assignee_id) }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-center">
                                <span><strong>Task created</strong></span><span>{{ task.date_created }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-center">
                                <span><strong>Task deadline</strong></span><span>{{ task.date_deadline }}</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-center">
                                <span><strong>Priority</strong></span><span>{{ task.priority }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>