<div *ngIf="currentUserToView !== undefined" class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h3 class="card-title">{{currentUserToView.name}}</h3>
            <a role="button" (click)="setUserToEdit(currentUserToView.id)"
                    class="w-4 h-4 ml-3 d-flex align-items-center justify-content-center" data-bs-toggle="modal"
                    data-bs-target="#editUserModal"><i class="bi bi-pencil-square text-success display-icon"></i></a>
            <img src="{{currentUserToView.avatar}}" class="avatar w-12 h-12 ml-auto">
        </div>
        <div class="card-body row">
            <div class="cart-item col-12 col-md-6">
                <p class="text-muted">Position</p>
                <h6>{{currentUserToView.position}}</h6>
            </div>
            <div class="cart-item col-12 col-md-6">
                <p class="text-muted">Department</p>
                <h6 *ngIf="currentUserDepartment !== undefined">{{currentUserDepartment.name}}</h6>
            </div>
            <div class="cart-item col-12 col-md-6 mt-5">
                <p class="text-muted">Status</p>
                <h6>{{currentUserToView.status}}</h6>
            </div>
            <div class="cart-item col-12 col-md-6 mt-5">
                <p class="text-muted">Email</p>
                <h6>{{currentUserToView.email}}</h6>
            </div>
            <div class="cart-item col-12 col-md-6 mt-5">
                <p class="text-muted">Role</p>
                <h6>{{currentUserToView.role}}</h6>
            </div>
        </div>
    </div>
</div>