<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="newUserModalLabel" aria-hidden="true"
    #editUserModal>
    <div class="modal-dialog">
        <form #editUserForm>
            <div *ngIf="currentUserToEdit !== undefined" class="modal-content">
                <div class="modal-content">
                    <div class="modal-header d-flex gap-2">
                        <h5 class="modal-title" id="editUserModalLabel">Edit</h5>
                        <img src="{{currentUserToEdit.avatar}}"
                            class="avatar w-5 h-5 ml-3"><strong>{{currentUserToEdit.name}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <label for="user-title"><strong>Name</strong></label>
                                <input class="modal-input w-100" type="text" name="user-title" id="user-title"
                                    #userNameInput [value]="currentUserToEdit.name" required>
                            </li>
                            <li class="list-group-item">
                                <label><strong>Avatar</strong></label>
                                <div class="d-flex flex-wrap gap-4 mt-4">

                                    <ng-container *ngFor="let image_url of avatar_images; let i = index">
                                        <img src="{{image_url}}" class="avatar w-5 h-5 pointer"
                                            [ngClass]="{'selected': image_url === userAvatar}" alt=""
                                            (click)="setUserAvatar(image_url)">
                                    </ng-container>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <label for="user-state"><strong>Status</strong></label>
                                <p>{{ currentUserToEdit.status }}</p>
                            </li>
                            <li class="list-group-item">
                                <label for="user-department"><strong>Department</strong></label>
                                <select #userDepartmentInput class="modal-input w-50 py-2 px-3 d-block" name="user-department"
                                    id="user-department" required>
                                    <option *ngIf="!currentUserToEdit.department" value="" disabled selected>Select a department</option>
                                    <ng-container *ngIf="departmentList !== undefined">
                                        <option *ngFor="let department of departmentList" [value]="department.id" [selected]="department.id == currentUserToEdit.department">{{
                                            department.name }}
                                        </option>
                                    </ng-container>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <label for="user-position"><strong>Position</strong></label>
                                <input class="modal-input w-100" type="text" name="user-position" id="user-position"
                                    #userPositionInput [value]="currentUserToEdit.position || ''" required>
                            </li>
                            <li class="list-group-item">
                                <label for="user-status"><strong>Status</strong></label>
                                <select #userStatusInput class="modal-input w-50 py-2 px-3 d-block" name="user-status"
                                    id="user-status" required>
                                    <option *ngIf="!currentUserToEdit.status" value="" disabled selected>Select a status</option>
                                    <option *ngFor="let status_value of user_statuses" [value]="status_value">{{
                                        status_value }}
                                    </option>
                                </select>
                            </li>
                            <li class="list-group-item">
                                <label for="user-email"><strong>Email</strong></label>
                                <input class="modal-input w-100" type="text" name="user-email" id="user-email"
                                    #userEmailInput [value]="currentUserToEdit.email || ''" required>
                            </li>
                            <li class="list-group-item">
                                <label for="user-role"><strong>Role</strong></label>
                                <select #userRoleInput class="modal-input w-50 py-2 px-3 d-block" name="user-role"
                                    id="user-role" required>
                                    <option *ngIf="!currentUserToEdit.role" value="" disabled selected>Select a role</option>
                                    <option *ngFor="let role of user_roles" [value]="role">{{
                                        role }}
                                    </option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="editUser()" data-bs-dismiss="modal">Edit user</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>